<nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">

  <a class="navbar-brand" href="#">
    <img src="/assets/images/LOGOPOCATERRA3.svg" width="120" height="70" class="d-inline-block align-top" alt="">

  </a>

  <!--<a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Nuevo</a>
      </li>
      <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>-->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Buscar">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>



<div class="card border-dark mb-3" style="width: 100%;">
   
  <div class="card-body text-dark">
    <form>
      <div class="form-row">
        <div class="form-group col-md-1">
          <label >Tipo</label>
          <select id="inputTipoDoc" class="form-control">
            <option selected>V</option>
            <option>E</option>
            <option>P</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label>Cedula</label>
          <input type="number" class="form-control" id="inputNumeroDocumento">
        </div>
        <div class="form-group col-md-2">
          <label for="inputCity">Numero del alumno</label>
          <input type="number" class="form-control" id="inputNumeroDelAlumno">
        </div>

        <div class="form-group col-md-3">
          <label>Nombres</label>
          <input type="text" class="form-control" id="inputNombres">
        </div>
        <div class="form-group col-md-4">
          <label>Apellidos</label>
          <input type="text" class="form-control" id="inputApellidos">
        </div>
      </div>
     
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

  </div>

<div class="card border-success mb-3">
  <!--<aside class="col-12 col-sm-2 p-0 bg-dark flex-shrink-1">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark align-items-start flex-sm-column flex-row">
        <a class="navbar-brand" href="#"><i class="fa fa-bullseye fa-fw"></i> Brand</a>
        <a href class="navbar-toggler" data-toggle="collapse" data-target=".sidebar">
            <span class="navbar-toggler-icon"></span>
        </a>
        <div class="collapse navbar-collapse sidebar">
            <ul class="flex-column navbar-nav w-100 justify-content-between">
                <li class="nav-item">
                    <a class="nav-link pl-0" href="#"><i class="fa fa-heart-o fa-fw"></i> <span class="">Link</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0 dropdown-toggle text-nowrap" href="#m1" data-parent="#navbar1" data-toggle="collapse" data-target="#m1" aria-expanded="false">
                        <i class="fa fa-address-card-o fa-fw"></i> <span class=""> Link</span>
                    </a>
                    <div class="collapse" id="m1">
                        <ul class="flex-column nav">
                            <a class="nav-link px-0 text-truncate" href="#">Sub</a>
                            <a class="nav-link px-0 text-truncate" href="#">Sub longer</a>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="#"><i class="fa fa-book fa-fw"></i> <span class="">Link</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="#"><i class="fa fa-heart fa-fw"></i> <span class="">Link</span></a>
                </li>
            </ul>
        </div>
    </nav>
  </aside>-->

  <div class="card-body text-success">
    <h5 class="card-title">Listado de alumnos</h5>
    <table class="table table-bordered table-stripped">
      <thead>
        <tr>
          <th>NUMERO DEL ALUMNO</th>
          <th>CEDULA</th>
          <th>NOMBRE Y APELLIDO</th>
          <th>AÑO QUE CURSA</th>
          <th>SECCION</th>
          <th>ACCION</th>
          <th>ACCION</th>
          <th>ACCION</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos">
          <!--<td><input type="checkbox" aria-label="Checkbox for following text input"></td>-->
          <td>{{alumno.idAl}}</td>
          <td>{{alumno.tipoDocAl+alumno.numDocAl}}</td>
          <td>{{alumno.primNombAl+" "+alumno.primApellAl}}</td>
          <td>{{alumno.annio}}</td>
          <td>{{alumno.seccion}}</td>
          <td><button type="button" class="btn btn-primary">Consultar</button></td>
          <td><button type="button" class="btn btn-success">Editar</button></td>
          <td><button type="button" class="btn btn-danger">Eliminar</button></td>




        </tr>
      </tbody>
    </table>

  </div>
  <!--<div class="card-footer bg-transparent border-success">Footer</div>-->

</div>